.specialists {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 38px;
}

.specialists__title {
  font-family: "Tesseract Display";
  font-size: 46px;
  font-weight: 200;
  line-height: 55px;
  margin: 90px 0 85px;
}
.specialists__contenainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  max-width: 1360px;
  gap: 36px 35px;
  margin-bottom: 97px;
}

.specialists__content {
  display: flex;
  gap: 15px;
}

.specialists__image {
  clip-path: url(#specialists);
  max-width: 72px;
  max-height: 89px;
  width: 100%;
  height: 100%;
  background-color: #bba1ff;
}

.specialists__info {
  display: flex;
  flex-direction: column;
}

.specialists__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  margin: 0 0 5px;
}

.specialists__name:first-of-type {
  margin: 0;
}

.specialists__job {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .specialists__contenainer {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 1000px) {
  .specialists {
    padding: 0 32px;
  }

  .specialists__title {
    margin-bottom: 67px;
  }

  .specialists__contenainer {
    margin-bottom: 75px;
  }
}

@media screen and (max-width: 780px) {
  .specialists__contenainer {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 560px) {
  .specialists {
    padding: 0 18px;
  }

  .specialists__contenainer {
    grid-template-columns: auto;
    gap: 27px 35px;
    margin-bottom: 86px;
  }

  .specialists__title {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 56px;
  }

  .specialists__names {
    display: flex;
    gap: 5px;
  }
}

@media screen and (max-width: 322px) {
  .specialists__names {
    display: block;
  }
}
