@import url(../src/vendor/normalize.css);
@import url(../src/vendor//fonts/fonts.css);

body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(./images/background.svg) top center no-repeat;
  background-size: 100%;
}
