.authors {
  display: flex;
  flex-direction: column;
  

  margin: auto;
  justify-content: center;
  align-items: center;
  padding: 0 38px;
}

.authors__container {
  max-width: 1440px;
  width: 100%;
}

.authors__title {
  font-family: "Tesseract Display";
  margin: 83px 0 76px;
  font-weight: 200;
  font-size: 46px;
  line-height: 55px;
}

.authors__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  margin: 0 87px 56px;
}

.authors__button {
  all: unset;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 40px;
  padding: 6px 19px;
  cursor: pointer;
  text-wrap: nowrap;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}

.authors__button:hover {
  color: #bba1ff;
  transition: 0.2s easy-all;
  border-color: #bba1ff;
}

.authors__button_active {
  background-color: #bba1ff;
  border: none;
}

.authors__button_active:hover {
  background-color: none;
  color: #000;
}

.authors__content {
  display: grid;
  grid-template-columns: min-content auto;
  border: 1px solid #000;
  border-radius: 40px;
  background-color: #fff;
  padding: 34px;
  gap: 0 46px;
  margin: 0 0 16px;
}

.authors__info {
  display: flex;
  text-align: left;
}

.authors__photo {
  clip-path: url(#authors_big);
  object-fit: contain;
  max-width: 280px;
  max-height: 290px;
  background-color: #bba1ff;
  grid-row: 1/3;
}

.authors__biography {
  display: flex;
  flex-direction: column;
}

.authors__name {
  font-family: "Tesseract Display";
  font-weight: 300;
  font-size: 32px;
  line-height: 38px;
  margin: 0;
}

.authors__job {
  margin: 9px 0 16px;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

.authors__education {
  max-width: 324px;
  margin: 0 0 11px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.authors__quote {
  max-width: 668px;
  grid-column-start: 2;
  max-width: 668px;
  text-align: left;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
}

@media screen and (max-width: 1000px) {
  .authors__content {
    gap: 0 77px;
  }

  .authors__photo {
    clip-path: url(#authors_middle);
    max-width: 214px;
    max-height: 211px;
  }
}

@media screen and (max-width: 780px) {
  .authors__button {
    font-size: 14px;
    line-height: 20px;
  }

  .authors__photo {
    clip-path: url(#authors_small);
    grid-column: 1;
    max-width: 141px;
    max-height: 140px;
  }

  .authors__info {
    grid-row: 1/3;
    grid-column: 2;
  }

  .authors__name {
    font-size: 22px;
    line-height: 26px;
  }

  .authors__job {
    font-size: 12px;
    line-height: 17px;
  }

  .authors__education {
    font-size: 14px;
    line-height: 17px;
  }

  .authors__quote {
    grid-row: 3;
    grid-column: 1/3;
    font-size: 16px;
    line-height: 19px;
  }
}

@media screen and (max-width: 560px) {
  .authors__content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    align-items: center;
    gap: 0;
  }

  .authors__quote {
    grid-row: 3;
    grid-column: 1/3;
  }
}

@media screen and (max-width: 460px) {
  .authors__button {
    text-wrap: wrap;
  }

  .authors__photo {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 380px) {
  .authors__content {
    display: flex;
    flex-direction: column;
  }

  .authors__photo {
    margin-bottom: 5px;
  }
}
