.publications {
  margin: 72px 0;
  text-align: left;
  font-weight: 300;
}

.publications__masonry {
  gap: 29px;
}

.publications__column {
  gap: 53px;
}

.publications__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 320px;
  width: 100%;
}

.publications__image-link {
  display: flex;
  overflow: hidden;
  max-width: 320px;
  max-height: 420px;
  width: 100%;
}

.publications__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.33s;
}

.publications__image:hover {
  transform: scale(1.1);
}

.publications__type {
  width: 100%;
  margin: 17px 0 12px;
  font-size: 10px;
  line-height: 14px;
}

.publications__title {
  font-family: "Tesseract Display";
  width: 100%;
  margin: 0 0 10px;
  text-decoration: none;
  color: #000;
  font-size: 18px;
  line-height: 22px;
}

.publications__title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.publications__description {
  width: 100%;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

.publications__image_starlike {
  clip-path: url(#starlike-svg);
}

.publications__image_concave {
  clip-path: url(#concave-rectangle);
}

.publications__image_small-cub {
  max-height: 200px;
  border-radius: 40px;
}

.publications__image_big-cub {
  max-height: 300px;
  border-radius: 40px;
}

.publications__highlight {
  background: url(../../images/highlight.svg) no-repeat;
}

@media screen and (max-width: 1000px) {
  .publications {
    margin: 95px 0;
  }

  .publications__column {
    gap: 46px;
  }
  .publications__image-link {
    max-width: 286px;
    max-height: 369px;
  }

  .publications__image_small-cub {
    max-height: 175px;
  }

  .publications__type {
    margin: 21px 10px 10px;
  }

  .publications__image_big-cub {
    max-height: 262px;
  }
}

@media screen and (max-width: 460px) {
  .publications {
    margin: 39px 0;
  }

  .publications__image-link {
    max-width: 165px;
    max-height: 217px;
  }

  .publications__image_small-cub {
    max-height: 103px;
    border-radius: 20px;
  }

  .publications__image_big-cub {
    max-height: 163px;
    border-radius: 20px;
  }

  .publications__type {
    margin: 12px 0 7px;
  }

  .publications__title {
    font-size: 16px;

    line-height: 19px;
  }

  .publications__description {
    font-size: 12px;
    line-height: 14px;
  }
}
